/***********************
         RESET
************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.debug{
    background: silver;
    width: 200px;
    height: 50px;
    border: 2px dashed red;
}
/***************************
        UTILITY
****************************/
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
    align-items: center;
}
/***************************
          HEADER
****************************/
header{
    background: #0084fd;
    color: #ffffff;
}
#container{
    padding: .625rem 1.875rem;
}
#burger{
    font-size: 2rem;
}
#head-nav{
    display: none;
}
#menu{
    gap: 1.25rem;
    line-height: 3.125rem;
}
#menu li a{
    text-decoration: none;
    color: #ffffff;
}
#menu li:last-child a{
    background-color: #ffffff;
    border-radius: 1.875rem;
    padding: .3125rem .625rem;
    color: #000;
}

@media screen and (min-width: 992px){
    #head-nav{
        display: block;
    }
    #burger{
        display: none;
    }
    .between{
        justify-content: space-around;
    }
}
/***************************
    
****************************/

/***************************
    
****************************/

/***************************
    
****************************/

/***************************
    
****************************/
/*@media screen and (min-width: 768px){

}
@media screen and (min-width: 992px){

}*/