/***********************
         RESET
************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    font-family: fantasy;
}
/***************************
        UTILITY
****************************/
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
    align-items: center;
}
/***************************
          HEADER
****************************/
header{
    background: #0084fd;
    color: #ffffff;
}
#container{
    padding: .625rem 1.875rem;
}
#burger{
    font-size: 2rem;
}
#head-nav{
    display: none;
}
#menu{
    gap: 1.25rem;
    line-height: 3.125rem;
}
#menu li a{
    text-decoration: none;
    color: #ffffff;
}
#menu li:last-child a{
    background-color: #ffffff;
    border-radius: 1.875rem;
    padding: .3125rem .625rem;
    color: #000;
}
/***************************
     RESPONSIVE-HEADER
****************************/
@media screen and (min-width: 992px){
    #head-nav{
        display: block;
    }
    #burger{
        display: none;
    }
    .between{
        justify-content: space-around;
    }
}
/***************************
        SECTION DEMO
****************************/
.demo, #img-phone, .squares{
    background: #b5ddff;
    gap: 1.875rem;
}
.demo{
    align-items: center;
    padding: 3.125rem 6.25rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    font-size: 1.25rem;
}
.col{
    width: 100%;
    padding: 1.25rem 4.375rem;
}
.column{
    flex-direction: column;
    gap: 1.875rem;
}

#img-phone{
    border-bottom-left-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
}
#img-phone img{
    width: 80%;
    margin: auto;
    display: block;
}
.products{
    border-radius: 1.875rem;
    align-items: center;
    padding: 3.125rem 6.25rem;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    text-align: center;
}
.products h2{
    color: #0084fd;
}
.products i{
    font-size: 5rem;
    color: #0084fd;
}

@media screen and (min-width: 768px){
    .col{
        width: calc(100% / 3);
    }
    .col:first-child{
        width: calc((100% / 3) * 2);
    }
    #img-phone img{
    width: 80%;
    margin: 0;
    
}
    .demo{
        padding: 1.25rem 6.25rem 1.25rem 1.25rem;
    }
    .col{
        flex-direction: row;
        display: inline-block;
    }
}
@media screen and (min-width: 992px){
    .column{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
/***************************
      SECTION PLANNING
****************************/
#planning{
    background: #9792e4;
}
#planning img{
    width: 100%;
}
#box-plan{
    background-color: #ffffff;
    width: 80%;
    margin: auto;
}
#box-plan i{
    border-radius: 50%;
    background: #9792e4;
    font-size: 1.25rem;
    color: #000;
    padding: .625rem;
}
/***************************
    SECTION TESTIMONIALS
****************************/
#testimonials{
    align-items: center;
    padding: 3.125rem 6.25rem;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    text-align: center;
    
}
#card{
    background: #9792e4;
    color: #ffffff;
   
}
.circle{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.nat{
    background-image: url(../img/testimonial1.jpg);
}
.celia{
    background-image: url(../img/testimonial2.jpg);
}
.bob{
    background-image: url(../img/testimonial3.jpg);
}
/***************************
    SECTION TESTIMONIALS
****************************/
.benefits{
    border-radius: 1.875rem;
    padding: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5625rem;
}
.box-benefits{
    padding: 1.25rem;
}
.box-benefits h1{
    text-align: center;
}
/***************************
    SECTION ABOUT-US
****************************/
.about-us{
    padding: 3.125rem 6.25rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
}
.barba{
    background-image: url(../img/about.jpg);
}
.find-me{
    padding-left: 6.25rem;
}
/***************************
        FOOTER-TOP
****************************/
.footer-top{
    align-items: center;
    padding: 3.125rem 6.25rem;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    text-align: center;
}
/***************************
           FOOTER
****************************/
footer{
    background: #333333;
    color: #ffffff;
    line-height: 1.5625rem;
    text-align: center;
    padding: 1.25rem 6.25rem;
}
/*@media screen and (min-width: 768px){

}
@media screen and (min-width: 992px){

}*/